@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

body{
    background-color: #2B303B;
    font-family: 'Tomorrow', sans-serif;
}

nav.menuPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   background-color: #636B7C;
   margin: 1em;
   border-radius: 1em;
}

nav.menuPrincipal h1{
    margin-left: 1em;
    font-size: 2em;
    color:#D3DBEB;
}


nav.menuPrincipal ul li {
    display: inline-flex;
    list-style: none;
    padding: 1em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #6D7C9A;
    margin-right: 1em;
    border-radius: 0.5em;
    
}

nav.menuPrincipal ul li:hover {

    background-color: #9CA6BB;
    
}


nav.menuPrincipal ul a{
font-size: 1.1em;
text-decoration: none;
color: #D3DBEB;
}

article{
    display: inline-flex;
    background-color: #9CA6BB;
   text-align: center;
   font-size: 1.5em;
    border-radius: 1em;
    margin: 1em;
}

img{
    border-radius: 1em;
    width: 400px;
    height: 300px;
}

img.fav{
    width: 600px;
    height: 400px;
}

article:hover {
    background-color: #6D7C9A;
   
}

a{
    text-decoration: none;
    color: black;
}
a:link{
    color: black;
}

div.cuerpo{
    display: flex;
    justify-content: space-between;
}

div.tipoJuego ul li {
    list-style: none;
    padding: 1em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #6D7C9A;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    font-size: 125%;
    
}

div.tipoJuego ul li:hover{
    background-color: #9CA6BB;
}
   
article.fav{
    background-color: #CF2A2A;
}

p{
    color: white;
    display: flex;
    justify-content: center;
}

form{
    color: white;
    display: flex;
    justify-content: center;    
}

a#mail{
    color: lightcyan;
    font-size: 1.2em;
    border: 1px solid white;
    padding: 0.5em;
}

a#mail:hover{

    font-size: 1.3em;
}

input[type="submit"]{
    width: 100px;
    height: 50px;
    background: black;
    color: white;
    font-family: 'Tomorrow', sans-serif;
    border-radius: 5px;
}

input[type="submit"]:hover{
background-color: gray;
}

div.soporte ul a{
    padding: 1em;
    background-color: #6D7C9A;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    font-size: 200%;
    
}

div.soporte ul{
margin-top: 15em;
    display:flex;
    justify-content: space-around;
    
}

div.soporte li{
    list-style: none;
}



nav.soporte {
    display: flex;
    justify-content: center;
    background: rgb(16,179,168);
    background: linear-gradient(90deg, rgba(16,179,168,1) 14%, rgba(255,0,0,1) 100%);
   margin: 1em;
   margin-left: 20em;
   margin-right: 20em;
   border: 2px solid;
   border-radius: 5em;
   
}

body.soporte{
    background-color: #7C8892;
    font-family: 'Tomorrow', sans-serif;
}

body.soporte ol{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5px solid black;
    margin: 3em;
}

body.soporte ol li{
font-style: italic;
    font-size: 1.5em;
    padding: 1em;
}

body.soporte ol li a{
    color: white;
    font-size: 1.1em;
}
