@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

body{
    background-color: #2B303B;
    font-family: 'Tomorrow', sans-serif;
}

nav.menuPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   background-color: #636B7C;
   margin: 1em;
   border-radius: 1em;
}

nav.menuPrincipal h1{
    margin-left: 1em;
    font-size: 2em;
    color:#D3DBEB;
}


nav.menuPrincipal ul li {
    display: inline-flex;
    list-style: none;
    padding: 1em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #6D7C9A;
    margin-right: 1em;
    border-radius: 0.5em;
    
}

nav.menuPrincipal ul li:hover {

    background-color: #9CA6BB;
    
}


nav.menuPrincipal ul a{
font-size: 1.1em;
text-decoration: none;
color: #D3DBEB;
}

article{
    display: inline-flex;
    background-color: #9CA6BB;
   text-align: center;
   font-size: 1.5em;
    border-radius: 1em;
    margin: 1em;
}

img{
    border-radius: 1em;
    width: 400px;
    height: 300px;
}

img.fav{
    width: 600px;
    height: 400px;
}

article:hover {
    background-color: #6D7C9A;
   
}

a{
    text-decoration: none;
    color: black;
}
a:link{
    color: black;
}

div.cuerpo{
    display: flex;
    justify-content: space-between;
}

div.tipoJuego ul li {
    list-style: none;
    padding: 1em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #6D7C9A;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    font-size: 125%;
    
}

div.tipoJuego ul li:hover{
    background-color: #9CA6BB;
}
   
article.fav{
    background-color: #CF2A2A;
}